<html th:replace="~{Investigator/investigatorbase::layout(~{::main})}">

<body>
	<main>
		<div class="row">
			<div class="col-sm-12">
				<div class="card border-0">
					<div class="card-header" style="background-color: #112B4C !important;">
						<h4 class="text-center text-white m-0 fst-italic">Closed Complaints</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered table-hover table-striped">
								<thead>
									<tr>
										<th>Sr. No.</th>
										<th>Complaint Id</th>
										<th>Victim Name</th>
										<th>Contact No</th>
										<th>Scammer</th>
										<th>Title</th>
										<th>Type of Scam</th>
										<th>Status</th>
										<th>Date</th>
										<th>Evidence</th>
										<!--<th>Action</th>-->
									</tr>
								</thead>
								<tbody>
									<tr th:each="com, srno : ${complaints}">
										<td th:text="${srno.index+1}"></td>
										<td th:text="${com.complaintId}"></td>
										<td th:text="${com.name}"></td>
										<td th:text="${com.contactNo}"></td>
										<td th:text="${com.scammer}"></td>
										<td th:text="${com.title}"></td>
										<td th:text="${com.typeOfScam}"></td>
										<td>
											<span class="badge bg-warning rounded-5" th:text="${com.Status}"></span>
										</td>
										<td th:text="${#temporals.format(com.regDateTime, 'dd-MM-yyyy HH:mm')}"></td>
										<td>
											<a class="btn btn-success btn-sm" data-bs-toggle="modal"
												th:data-bs-target="${'#evidenceModal__'+com.id}">View...</a>
										</td>
										<!--
										<td class="d-flex justify-content-center align-items-center">	
			     						<a href="#" class="btn btn-success mx-2 btn-sm" data-bs-toggle="modal"
								    	th:data-bs-target="${'#closeModal__'+com.id}">Close</a>													
										<a href="#" class="btn btn-danger mx-2 btn-sm" data-bs-toggle="modal"
										th:data-bs-target="${'#complaintModal__'+com.id}">Reject</a>
										</td>
													-->
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!--Evidence Modal -->
		<div th:each="com :${complaints}" class="modal fade" th:id="${'evidenceModal__'+com.id}" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="#exampleModal">Complanint Evidences</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-4 mx-auto" th:each="images : ${com.evidence}">
								<img class="w-100" alt="image not found" th:src="@{'/uploads/'+${images}}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--// Button trigger modal 

						Reject Modal 
						<div th:each="com:${complaints}" class="modal fade" th:id="${'complaintModal__'+com.id}" tabindex="-1"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="exampleModalLabel" th:text="${com.title}">Complaint Evidences
										</h1>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<form action="RejectComplaint" method="post">
										<div class="modal-body">
											<label>Reason of Rejection</label>
											<input type="hidden" th:value="${com.id}" name="cid">
											<textarea name="message" style="width: 100%;" rows="3"
												placeholder="Type your message here..."></textarea>
										</div>
										<div class="modal-footer py-2 pb-0">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Reject Complaint</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						
						Close Complaint Modal 
									<div th:each="com:${complaints}" class="modal fade" th:id="${'closeModal__'+com.id}" tabindex="-1"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="exampleModalLabel" th:text="${com.title}">Complaint Evidences
													</h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<form action="CloseComplaint" method="post">
													<div class="modal-body">
														<label>Closing Summary</label>
														<input type="hidden" th:value="${com.id}" name="cid">
														<textarea name="message" style="width: 100%;" rows="3"
															placeholder="Type your message here..."></textarea>
													</div>
													<div class="modal-footer py-2 pb-0">
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
														<button type="submit" class="btn btn-success">Close Complaint</button>
													</div>
												</form>
											</div>
										</div>
									</div>


						
                   -->

		<script type="text/javascript">
			var msg = "[[${msg}]]";
			if (msg != "") {
				alert(msg);
			}
		</script>
	</main>

</body>

</html>