<html th:replace="~{base::Layout(~{::main})}">

<body>
	<main style="background-color: aliceblue;">
		<div class="container" style="margin-top: 60px;">
			<div class="row justify-content-center">
				<div class="col-md-9 mb-5">
					<div class="card shadow-lg border-0" style="border-radius: 15px;">
						<div class="card-header text-white text-center py-2"
							style="border-radius: 15px 15px 0 0; background-color: #112B4C !important;">
							<h4 class="mb-0 fst-italic"> Get in Touch</h4>
							<small class="mb-0 fst-italic">Help us track and prevent online frauds</small>
						</div>
						<div class="card-body p-4" style="background-color: #FFFFFF;">
							<form action="/ContactUs" method="post" th:object="${dto}">
								<!-- PERSONAL DETAILS -->
								<h5 class="fw-bold text-black mb-3 fst-italic">Personal Details</h5>
								<div class="row">
									<div class="col-md-6 mb-3">
										<label class="form-label">Full Name</label>
										<input type="text" th:field="*{name}" class="form-control"
											placeholder="Enter your name" required>
									</div>
									<div class="col-md-6 mb-3">
										<label class="form-label">Gender</label>
										<div class="mt-2">
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" th:field="*{gender}"
													value="Male">
												<label class="form-check-label">
													Male
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" th:field="*{gender}"
													value="Female">
												<label class="form-check-label">
													Female
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" th:field="*{gender}"
													value="Other">
												<label class="form-check-label">
													Otehr
												</label>
											</div>

										</div>
									</div>
									<div class="col-md-6 mb-3">
										<label class="form-label">Contact No</label>
										<input type="text" th:field="*{contactNo}" class="form-control"
											placeholder="Enter mobile number" required>
									</div>
									<div class="col-md-6 mb-3">
										<label class="form-label">Email</label>
										<input type="email" th:field="*{email}" class="form-control"
											placeholder="Enter your email" required>
									</div>
									<div class="col-md-6 mb-3">
										<label class="form-label">
											Subject
										</label>
										<input type="text" th:field="*{subject}" class="form-control"
											placeholder="Enter subject" required>
									</div>
									<div class="col-md-6 mb-3">
										<label class="form-label">
											Address
										</label>
										<textarea th:field="*{address}" class="form-control" rows="1"
											placeholder="Enter your address" required></textarea>
									</div>

								</div>
								<!-- Message -->
								<div class="row">
									<div class="col-md-12 mb-3">
										<label class="form-label">
											Message
										</label>
										<textarea th:field="*{message}" class="form-control" rows="2"
											placeholder="Write your message" required></textarea>
									</div>
								</div>
								<div class="text-center mt-4">
									<button type="submit" class="btn btn-sm btn-warning text-black"
										style="border-radius:7px;">
										Submit Query
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var msg = "[[${msg}]]"
			if (msg != "") {
				alert(msg);
			}
		</script>
	</main>
</body>

</html>